* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.main {
  height: 60vh;
  background-image: url(Assets/Images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  position: relative;
}

.main .box {
  position: absolute;
  top: 0;
  height: 60vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 1;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: sans-serif;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 29px;
}

.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  text-align: center;
  font-size: 18px;
}

.seperation {
  height: 7px;
  background-color: rgb(38, 38, 38);
}

.btn {
  font-weight: 600;
  background-color: white;
}

.btn-red {
  padding: 12px 20px 10px 10px;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.24s ease-in-out;
}

.btn-red:hover {
  background-color: rgb(199, 4, 4);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main input {
  font-size: 17px;
  padding: 20px 110px 14px 15px;
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 5px;
  color: white;
  border: 1px solid rgba(122, 122, 122, 0.5);
}

.main input::placeholder {
  color: rgb(190, 190, 190);
}

.btn-red-sm {
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 8px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.24s ease-in-out;
}
.btn-red-sm:hover {
  background-color: rgb(199, 4, 4);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
}

.SecImg {
  position: relative;
}

.SecImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.SecImg video {
  position: absolute;
  top: 125px;
  left: 80px;
  width: 70%;
}

section.first > div {
  display: flex;
  font-weight: 900;
  gap: 7px;
  flex-direction: column;
  padding: 34px 0;
}

@media screen and (max-width: 1300px) {
  .first {
    flex-wrap: wrap;
  }
}

section.first > div :nth-child(1) {
  font-size: 47px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 20px;
  font-weight: normal;
}
section.first > div :nth-child(3) {
  font-size: 20px;
  font-weight: normal;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
  margin: 20px;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faqBox {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  padding: 24px;
  max-width: 60vw;
  cursor: pointer;
  margin: 10px auto;
  transition: 0.4s ease-in-out;
}

.faqBox:hover {
  background-color: rgb(73, 73, 73);
}

footer {
  color: white;
  max-width: 60vw;
  margin: 40px auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 25px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

footer span a {
  color: gray;
  font-size: 15px;
}

.footer a {
  color: gray;
}

.footer-item {
  margin: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: gray;
  font-size: 13px;
}
